/* Estilos del formulario */
.form__container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 700px;
    min-height: 300px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form__header {
    display: flex;
    justify-content: space-between;
    background-color: #e9ecef;
    padding: 15px;
}

.form__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.form__icono-container {
    text-align: right;
}

.form__icono-container i {
    color: #f18912;
}

.form__image {
    width: 30px;
    height: auto;
}

.form__body {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 15px;
    padding: 20px;
    align-items: center;
}

.form__body input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
    /* Para que el borde se destaque al enfocar */
    &:focus {
        outline: none;
        border-color: #007bff;
        /* Color de borde al enfocar */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.form__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input__button {
    background-color: #4c6baf;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.form__input--submit:hover {
    background-color: #0b1581;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.form__input--reset {
    background-color: #f18912;
}

.form__input--reset:hover {
    background-color: #ab6906;
}