.container__nav{
  margin-top: -30px; 
}
.navBar {
    background-color: rgb(35, 72, 84);
    padding: 10px;
    flex: 1; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 3rem;
}

.nav__buttons {
    display: flex;
    gap: 1rem;

}
.navBar a {
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.nav__buttons a {
    padding: 0.5rem 1rem;
    background-color: #f18912;
    
}

.nav__button--login a {
    background-color: #4CAF50;
    padding: 0.5rem 2rem;
}
/*----Botón desplegable*/
.nav__dropdown {
    position: relative;
  }
  
  .nav__dropdown-toggle {
    position: absolute;
    cursor: pointer;
    
  }
  
  .nav__dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  
  .nav__dropdown-content a {
   margin-top: 10px;
    white-space: nowrap;
    
  }
  .nav__dropdown:hover .nav__dropdown-content {
    display: flex;
    flex-direction: column;
    
  }


/*--------*/
/*
.nav__dropdown{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/*
.nav__dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;

}

*/