/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
   background-color: rgb(96, 165, 152);
   display: flex;
   flex-direction: column;
   text-align: center;
   font-family: Arial, sans-serif;
   height: 100vh;
   gap: 30px;
  }
  /*------------------ MAIN*-----------------*/
  
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
     
  }

/*----------------------HEADER---------------------------------------*/

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: aliceblue;
   
    background-color: #082519; /* Puedes cambiar el color */
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .header__logo img {
    width: 100px; /* Ajusta el ancho según la imagen */
    height: auto;
  }
  
  .header__title {
    font-size: 45px;
    font-weight: bold;
    
  }
  
  .header__switch {

    cursor: pointer;
    
  }