.container__table {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 700px;
    min-height: 300px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Para que los bordes redondeados se apliquen correctamente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
  }
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0; 
  }
  
  th {
    background-color: #ece1e1;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #6e8cf7; /*Fondos pares*/
  }
  tr:hover { background-color: #fdc129; }
 
  td:has(> i) {
    text-align: center;
    }
  .tr__icono--delet{
    
    color: rgb(188, 63, 63);
  }
  .tr__icono--edit{
    color: rgb(30, 30, 118);
  }